@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Roboto&display=swap');

@media screen and (max-width: 1285px) and (min-width: 769px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1285px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 769px) {
    html {
        font-size: 16px;
    }
}

html {
    font-family: 'Nanum Gothic', sans-serif;
}


#_메인 {
    /*background-color: #3498db;*/
    background-color: white;
}

#_개요1 {
    background-color: white;
}

#_개요2 {
    background-color: #ffcaca;
}

#_힘든점 {
    /*background-color: #54d4ff;*/
    background-color: #ffbc72;
}

#_응원 {
    /*background-color: #54d4ff;*/
    background-color: #ffffd5;
}

#_생각모음 {
    background-color: white;
}

nav {
    background-color: rgba(245, 245, 245, 0.5);

}


.fp-slidesNav ul {
    text-align: center;
}

.pass_action {
    display: none !important;
}

.pass_footer {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    display: flex !important;
    justify-content: space-evenly !important;

}

.pass_confirmButton {
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .15);
    border-radius: 1rem;
    cursor: pointer;
    padding: 0 1rem;
    width: 20%;
    text-align: center;
}


/*.full {*/
/*    display : none;*/
/*    width : 100%;*/
/*    height : 100%;*/
/*    background-color : rgba(125,125,125,0.5);*/
/*    z-index : 1061;*/
/*    position: fixed;*/
/*    top: 0 ;*/
/*    left : 0;*/
/*}*/


.button {
    background-color: white;
    vertical-align: middle;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .15);
    /*border-radius: 1rem;*/
    cursor: pointer;
    padding: 0 1rem;
}


@media screen and (min-width: 769px) {

    /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
    nav, div.side {
        width: 25%;
        height: 100vh;

    }

    div.content {
        width: 75%;
    }

    div.side, div.content {
        display: inline-block;
    }

    nav {
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;

        overflow-x: hidden;
        padding: 8px 0;

        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav ul {
        padding: 0;
        height: 40%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        width: 70%;


    }

    nav ul div {
        border-bottom : 3px solid #eee;
    }



    nav ul li {
        list-style-type: none;
        font-size: 2rem;
        font-family: 'Black Han Sans', sans-serif;
        text-align: right;



    }

    nav ul li a {
        text-decoration: none;
        color: black;
    }

    nav ul li.active a {
        color: gold;
    }

    .fp-controlArrow {
        opacity: 0.9;
        border-width: 0px 7px 7px 0px !important;
        padding: 25px;
    }


    .fp-controlArrow.fp-prev {
        margin-left: 30px;
        border-color: #dadada;
        transform: rotate(135deg);
    }

    .fp-controlArrow.fp-next {
        margin-right: 30px;
        border-color: #dadada;
        transform: rotate(-45deg);
    }

}

@media screen and (max-width: 769px) {


    /* 모바일에서 사용될 스타일을 여기에 작성합니다. */
    nav, div.side {
        width: 100%;
        height: 30px;

    }

    div.content {

    }

    div.side, div.content {
        display: inline-block;
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;


        overflow-x: hidden;
        padding: 8px 0;

        display: none;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    nav ul {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    nav ul li {

        list-style-type: none;
        display: inline-block;
        margin: 0px 10px;
        font-size: 0.8rem;
        font-family: 'Black Han Sans', sans-serif;
    }


    nav ul li a {
        text-decoration: none;
        color: black;
    }

    nav ul li.active a {
        color: gold;
    }

    .fp-controlArrow {
        display: none;
    }


}


@media screen and (max-width: 1285px) and (min-width: 769px) {
    nav, div.side {
        width: 100%;
        height: 30px;

    }

    div.content {
        width: 100%;
    }

    div.side, div.content {
        display: inline-block;
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;

        background-color: rgba(230, 230, 230, 0.5);
        overflow-x: hidden;
        padding: 8px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-direction: row;


    }

    nav ul li {

        list-style-type: none;
        display: inline-block;
        margin: 0px 10px;
        font-size: 0.8rem;
        font-family: 'Nanum Gothic', sans-serif;
    }

    nav ul div {
        border: none;
    }


    nav ul li a {
        text-decoration: none;
        color: black;
    }

    nav ul li.active a {
        color: gold;
    }

    /*.fp-controlArrow {*/
    /*    display: none;*/
    /*}*/
}



.section:nth-child(1) {
    z-index : -10;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: white;
    /*background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);*/

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 230, 153, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
