@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Roboto&display=swap');

@media screen and (max-width: 1285px) and (min-width: 769px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1285px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 769px) {
    html {
        font-size: 16px;
    }
}

html {
    font-family: 'Nanum Gothic', sans-serif;
}


#메인 {
    background-color: #3498db;
}

#개요1 {
    background-color: white;
}

#개요2 {
    background-color: ivory;
}

.fp-slidesNav ul {
    text-align: center;
}

.pass_action {
    display: none !important;
}

.pass_footer {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    display: flex !important;
    justify-content: space-evenly !important;

}

.pass_confirmButton {
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .15);
    border-radius: 1rem;
    cursor: pointer;
    padding: 0 1rem;
    width : 20%;
    text-align : center;
}


/*.full {*/
/*    display : none;*/
/*    width : 100%;*/
/*    height : 100%;*/
/*    background-color : rgba(125,125,125,0.5);*/
/*    z-index : 1061;*/
/*    position: fixed;*/
/*    top: 0 ;*/
/*    left : 0;*/
/*}*/


@media screen and (min-width: 769px) {

    /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
    nav, div.side {
        width: 25%;
        height: 100vh;

    }

    div.content {
        width: 75%;
    }

    div.side, div.content {
        display: inline-block;
    }

    nav {
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;

        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        padding: 0;
        height: 40%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    nav ul li {
        list-style-type: none;
        font-size: 1.5rem;
        text-align: right;

    }

    nav ul li a {
        text-decoration: none;
        color: black;
    }

    nav ul li.active a {
        color: gold;
    }

    .fp-controlArrow {
        opacity: 0.5;
    }

    .fp-controlArrow.fp-prev {
        margin-left: 30px;
        border-color: transparent #dadada transparent transparent;
    }

    .fp-controlArrow.fp-next {
        margin-right: 30px;
        border-color: transparent transparent transparent #dadada;
    }

}

@media screen and (max-width: 769px) {


    /* 모바일에서 사용될 스타일을 여기에 작성합니다. */
    nav, div.side {
        width: 100%;
        height: 30px;

    }

    div.content {

    }

    div.side, div.content {
        display: inline-block;
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;

        background-color: rgba(230, 230, 230, 0.5);
        overflow-x: hidden;
        padding: 8px 0;

        display: none;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    nav ul {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    nav ul li {

        list-style-type: none;
        display: inline-block;
        margin: 0px 10px;
        font-size: 0.8rem;

    }

    nav ul li a {
        text-decoration: none;
        color: black;
    }

    nav ul li.active a {
        color: gold;
    }

    .fp-controlArrow {
        display: none;
    }

}


@media screen and (max-width: 1285px) and (min-width: 769px) {
    nav, div.side {
        width: 100%;
        height: 30px;

    }

    div.content {
        width: 100%;
    }

    div.side, div.content {
        display: inline-block;
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0px;

        background-color: rgba(230, 230, 230, 0.5);
        overflow-x: hidden;
        padding: 8px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-direction: row;
    }

    nav ul li {

        list-style-type: none;
        display: inline-block;
        margin: 0px 10px;
        font-size: 0.8rem;

    }

    nav ul li a {
        text-decoration: none;
        color: black;
    }

    nav ul li.active a {
        color: gold;
    }

    .fp-controlArrow {
        display: none;
    }
}
