


@media screen and (min-width: 769px) {
    /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
    div.tc_container {
        height: 80%;
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0px auto;
    }

    div.tc_title {
        font-size: 3rem;
        font-family: 'Black Han Sans', sans-serif;
        text-align: center;
        word-break: keep-all;
    }

    div.tc_bottomText {
        font-size: 2.5rem;
        font-family: 'Black Han Sans', sans-serif;
        text-align: center;
        word-break: keep-all;
    }


    img#tc_wordcloud {
        margin: 0 auto;
        border : 5px solid gray;
        border-radius : 5rem;
    }

    div#tc_wordcloud {
        margin: 0 auto;
        text-align: center;
        font-size: 1.5rem;
    }


    div.tc_imageContainer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}


@media screen and (max-width: 769px) {
    /* 모바일에서 사용될 스타일을 여기에 작성합니다. */
    div.tc_container {
        height: 90%;
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        flex-direction: column;
        display: flex;
        margin: 0px auto;
    }

    div.tc_title {
        font-size: 1.8rem;
        font-family: 'Black Han Sans', sans-serif;
        text-align: center;
        word-break: keep-all;
    }

    div.tc_bottomText {
        font-size: 1.5rem;
        font-family: 'Black Han Sans', sans-serif;
        text-align: center;
        word-break: keep-all;
    }


    img#tc_wordcloud {
        margin: 0 auto;
        border : 5px solid gray;
        border-radius : 5rem;
    }

    div#tc_wordcloud {
        margin: 0 auto;
        text-align: center;
        font-size: 1.2rem;
    }

    div.tc_imageContainer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

@media screen and (max-width: 1285px) and (min-width: 769px) {

}





